<section id="menu">

  <div id="menu-links" class="silver-two">
	  <ul>				
		  <li><a href="<%= store_path %>">STORE</a></li>
		  <li><a href="<%= lounge_path %>">LOUNGE</a></li>
		  <li><a href="<%= tobacco_path %>">TOBACCO</a></li>
		  <li><a href="<%= roll_path %>">ROLL YOUR OWN</a></li>
		  <li><a href="<%= merchandise_path %>">MERCHANDISE</a></li>
		  <li><a href="<%= community_path %>">COMMUNITY</a></li>
		  <li><a href="<%= gallery_path %>">GALLERY</a></li>
		  <li><a href="<%= comments_path %>">COMMENTS</a></li>
	  </ul>
  </div>

</section>


