<%= render "shared/header" %>
<%= render "shared/menu" %>


<div id="page-container" class="pull-left">

  <div id="left-side" class="indent">
      
      <div class="heading">
        COSTUMER FEEDBACK<br><br>
      </div>

      <div class="slide-up">

          <%= render 'form' %>

      
      </div>
      
  </div>

  <div id="right-side" class="indent">
    <%= image_tag('store2.JPG', :alt => 'LOGO', :size => "600x400",) %>
  </div>
  
  

</div>

<%= render "shared/footer" %>




